{
  "rules": {
    "no-console": "off",
    "indent": [ "error", 2 ],
    "quotes": [ "error", "single" ],
    "semi": ["error", "always"],
    "linebreak-style": [ "error", "unix" ]
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__DEBUG__": false,
    "__API_URL__": false,
    "document": false
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true,
    "jasmine": true
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true,
      "jsx": true,
      "experimentalObjectRestSpread": true,
      "impliedStrict": true
    },
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"]
}
