.campaign-header-section{
  overflow-x: hidden;
  overflow-y: hidden;
  height: 70px;
}
.campaign-header{
  text-align: center;
  height: 70px;
  line-height: 70px;
  .campaign-header-title{
    // height: 70px;
    display: inline-block;
    margin:0;
  }
  span{
    height: 70px;
    display: inline-block;
    clear: both;
  }
}

.campaign-header-settings{
  height: 100vh;
  width: 100%;
  position: absolute;
  // top: 140px;
  overflow-y: hidden;
  background: $blue;
}

.campaign-header-exited{
  position: absolute;
transform: translateX(100%);
transition: 400ms;
display: none
}
.campaign-header-exiting{
  position: absolute;
background: red;
transition: 400ms;
}
.campaign-header-entered{
  position: absolute;
  transform: translateX(0%);
  transition: 400ms;
}
.campaign-header-entering{
  position: absolute;
  transform: translateX(100%);
  transition: 400ms;
}
