.character-header{
  background: $color-3;
  border-bottom: .5px dashed #eac64e;
}

.button-container{
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: .5rem;
  text-align: center;

}
