.character-home-container{
  height: 50vh;
  width: 100%;
  text-align: center;
  background-image: url('../assets/dragon.png');
  background-size: cover;
  border-top: 2px solid $color-3;
  position: relative;

}
.home-banner{
  position: absolute;
  height: 10vh;
  top: calc(50% - 5vh);
  width: 84%;
  margin: 0 8% 0 8%;
  background: $color-1;
  opacity: .4;
}
.home-banner-text{
  position: absolute;
  height: 10vh;
  font-size: 3rem;
  width: 100%;
  line-height: 9vh;
  text-align: center;
  top: calc(50% - 5vh);
  color: $color-3;
  font-weight: lighter;
}
.sub-banner{
  position: absolute;
  height: 5vh;
  top: calc(70% - 2.5vh);
  width: 84%;
  margin: 0 8% 0 8%;
  background: $color-1;
  opacity: .5;
}
.sub-banner-text{
  position: absolute;
  height: 5vh;
  font-size: 1.5rem;
  width: 100%;
  line-height: 5vh;
  text-align: center;
  top: calc(70% - 2.5vh);
  color: darken($color-3, 10%);
  font-weight: 400;
}


.dense{
  opacity: 0.7;
}

.hero-section{
  height: 100vh;
  width: 100%;
  text-align: center;
  // img-src 'self' data:;
  background-image: url('../assets/forestFog.png');
  background-size: auto;
  position: relative;
    &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:linear-gradient(to bottom, rgba(111, 174, 234, 0.8) 70%, rgba(247, 156, 74, 0.8));
    opacity: .4;
    }
}
.hero-container{
  position: absolute;
  // height: 50%;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  top: 25%;
}
.hero-text-container{
  height: 70%;
  width: 100%;
}
.hero-text{
  color: $color-1;
  font-size: 2.5rem;
  margin-bottom: .25rem;
}

.button-holder{
  height: 30%;
  button{
    opacity: 0.9;
  }
}
.blue{
  background: $blue;
}
.orange{
  background: $color-4;
}
