.stat-div-holder{

}
.stat-div{
  display: inline-block;
  width: 33.33333%;
}
.stat-div-label{
  text-align: center;
  font-size: 1rem;
  line-height: 1rem
}
.stat-div-value{
  text-align: center;
  font-size: 1rem;
  line-height: 1rem
}
.stat-title{
  text-align: center;
}
.proficiency-stat-div-holder{
  width: 100%;
  text-align: center;
}
.proficiency-stat-div{
  display: inline-block;
  width: 33.3333333333333%;
  text-align: center;
}
