.create-character-section {
  width:95%;
  margin-top: 2rem;
  padding-left:2.5%;
  padding-right:2.5%;


  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box; /* Firefox, other Gecko */
box-sizing: border-box; /* Opera/IE 8+ */
}

.create-character-title {
  text-align: center;
  font-size: 2.0rem;
  line-height: 2.75rem;
  margin-bottom: 1rem
}

.create-character-form {

}

.create-character-input-div {
  width:100%;
}

.create-character-input {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  padding-left: 5%;
  margin-top: 1rem;
}
.create-character-stat-input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  margin: 0;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
}
.create-character-stat-input-container {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  text-align: center;
  margin-top: 1rem;
  border-radius: 5px;
}
.stat-input-div{
  width: 33.3333333%;
  display: inline-block;
  text-align: center;
}
.stat-input-title{
  font-size: 100%;
  margin-bottom: 0
}
.create-character-input:focus{
  // border:none;
  outline:none;
}

.create-character-button {
}

.stat-input-error{
  color: #fba2a2
}
.select-section{
  width: 90%;
  margin-left: 5%;
  position: relative;
  .select-title{
    width: 100%;
    margin: 1rem 0 0 0;
    height: 40px;
    line-height: 40px;
    background: #eee;
    border: 1px solid #AE9C96;
    color: grey;
    border-radius: 5px;
    text-align: center;
    position: relative;


  }
  .select-title-toggle{
    width: 100%;
    margin: 1rem 0 0 0;
    height: 40px;
    line-height: 40px;
    background: #eee;
    border: 1px solid #AE9C96;
    color: grey;
    border-radius: 5px;
    text-align: center;
    position: relative;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
  .select-option-container{
    width: 100%;
    margin:auto;
    z-index: 4;
    position: absolute;
    background: $color-4;
    border-left: 1px solid $color-5;
    border-right: 1px solid $color-5;
    border-bottom: 1px solid $color-5;
    .select-option{
      transition: 400ms;
      width: 100%;
      height: 45px;
      line-height: 45px;
      background: #eee;
      padding-left: 1rem;
      // color: $color-4;;
      &:hover{
        width: 95%;
        padding-left: 2rem;
        color: $blue;
      }
    }
  }
}
