.create-dm-section {
  width:95%;
  margin-top: 5%;
  padding-left:2.5%;
  padding-right:2.5%;

}

.create-dm-title {
  text-align: center;
  font-size: 2.0rem;
  line-height: 2.75rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.create-dm-form {

}

.create-dm-input-div {
  width:100%;
  height: 50px;
  border: 2px solid $color-5;
}

.create-dm-input {
  display: inline-block;
  height: 100%;
  border: none;
  border-radius: 0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  padding-left: 5%;
  margin-top: 0;
  float: left;
}
.create-dm-input:focus{
  // border:none;
  outline:none;
}

.create-dm-button {
  border: none;
  border-radius: 0;
  display: inline-block;
  width: 30%;
  float: right;
  margin: 0;
  height: 100%;
  font-weight: lighter;
  font-size: initial;
}

.plus-dropdown{
  display: inline-block;
  color: $color-5;
  display: inline-block;
  padding: 8px;
  margin-left: .5rem;
}
.title-icon-container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.dropdown-form-exited{
  transform: translateY(-1000%);
  transition: 400ms;
  height: 0;
  div{
    display: none
  }
  button{
    display: none;
  }
}
.dropdown-form-exiting{
  transition: 400ms

}
.dropdown-form-entering{
    transform: translateY(-1000%);
}
.dropdown-form-entered{
  transform: translate(0%);
  transition: 400ms ease-in-out;}
