.create-dm-section {
  width:95%;
  margin-top: 5%;
  padding-left:2.5%;
  padding-right:2.5%;

}

.create-dm-title {
  text-align: center;
  font-size: 2.0rem;
  line-height: 2.75rem;
  margin-bottom: 1rem
}

.create-dm-form {

}

.create-dm-input-div {
  width:100%;
}

.create-dm-input {
  display: block;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background: #eee;
  padding-left: 5%;
  margin-top: 1rem;
}
.create-dm-input:focus{
  // border:none;
  outline:none;
}

.create-dm-button {


}
