.dm-home-container{
  height: 50vh;
  width: 100%;
  color: $color-3;
  font-weight: lighter;
  text-align: center;
  background-image: url("../assets/tabletop.png");
  background-size: cover;
  border-bottom: 2px solid $color-3;
  position: relative;

}
