.dm-list-title{
text-align: center;
margin: 0 0 1rem 0;
padding: 2rem 0 0 0;
}

.dm-list-li{
  width: 80%;
  margin: 0 auto 0 auto;
  font-size: 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  overflow-y:hidden;
  text-align: center;
}
