.toggle-weapon-update-form-button{
  width: 1.5rem;
  padding-top: 1.5rem;
  margin-top: .2rem;
  margin-right: .5rem;
  float: right;
  line-height: .25rem;
  background: grey;
  display: inline-block;
}
