.update-armor-form-shader {
  width: 100vw;
  height:100vh;
  background: rgba(0,0,0, .7);
  position: fixed;
  top:0;
  left:0;
  opacity: 1;
}
.update-armor-form-title{

}
.update-armor-form{
  width: 90%;
}

.update-armor-form-input-div{

}
.update-armor-form-input{
  width: 100%
}

.update-armor-form-button{
  width: 100%

}
