.weapon-label-container{
  width: 70%;
  float: left;
  display: inline-block;
}
.weapon-button-container{
  width: 30%;
  display: inline-block;
  float: right;
}
.weapon-item-label{
    
}
