.item-title-containter{
  height: 40px;
}
.item-section-title{
  display: inline-block;
  margin: 0;
  line-height: 40px;
  font-size: 1.5rem;
  padding-left: 10px;
}
.plus-form-toggle{
  line-height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 10px;
  color: #0193b7;
}
